<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @announcement.title %></h1>

    <p>
      <%= markdown(@announcement.body) %>
    </p>

    --

    <%= @announcement.author.full_name %>
  </body>
</html>

