<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to HouseManager, <%= @user.full_name %></h1>
    <p>
      You have successfully signed up to example.com,
      and you're almost ready to go. You need to go to Edit Profile
      to select your organization, and as soon as you're added in by the
      manager, you're all set!
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      Thanks for joining and have a great day!
    </p>
    <p>
      --

      Will Mitchell
      Creator of House Manager
      Phi Sigma Kappa at Georgia Tech
    </p>
  </body>
</html>

